---
import Layout from '@layouts/Layout.astro';
import Section from '@components/generic/Section.astro';
import WelcomeHome from '@components/WelcomeHome.astro';
import ProjectsView from '@components/ProjectsMinimal.astro';
import ContactsView from '@components/ContactsView.astro';
import MyHero from '@components/MyHero.astro';
import { ChevronRight as IconChevron } from '@lucide/svelte';
---

<Layout>
  <div class="gradient-homepage-one">
    <Section class="pt-20 md:pt-24">
      <WelcomeHome />
    </Section>
  </div>
  <div class="gradient-homepage-two">
    <Section title="featured projects">
      <ProjectsView />
    </Section>
    <Section title="about me">
      <div class="text-center space-y-8">
        <MyHero />
        <a href="/mycv" class="btn preset-outlined-primary-500">
          <span>explore my cv</span>
          <IconChevron className="size-4" />
        </a>
      </div>
    </Section>
    <Section title="contacts" class="pb-24">
      <ContactsView />
    </Section>
  </div>
</Layout>
