---
import Contacts from "@components/aboutme/Contacts.astro";
---

<div class="container mx-auto space-y-8">
  <header class="text-center space-y-4">
    <h1 class="h1">Contacts</h1>
    <p class="text-surface-600 dark:text-surface-400">Get in touch with me</p>
  </header>

  <Contacts></Contacts>
</div>