---
import { Linkedin, Github, Instagram, Mail } from "@lucide/svelte";
---

<div class="text-center space-y-4">
    <h2 class="text-3xl font-bold">Projects</h2>
    <ul class="space-y-2">
        <li>
            <a
                href="https://mistahuman.github.io/landpage-andreafaccani/"
                target="_blank"
                type="button"
                class="anchor"
            >
                <span> Landing page - Andrea Faccani </span>
            </a>
        </li>
        <li>
            <a
                href="https://mistahuman.github.io/portfolio-davidesigillo/"
                target="_blank"
                type="button"
                class="anchor"
            >
                <span> Portfolio - Davide Sigillo </span>
            </a>
        </li>
    </ul>
</div>