---
---

<p>
    Hey there! I'm Marco, a Software Engineer & Full Stack Developer with a strong background in safety-critical systems and full-stack web development. My experience ranges from designing safety-critical protocols for ERTMS systems to developing high-performance web applications.
</p>
<p>
    I hold a Master’s Degree in Energy and Nuclear Engineering, but my career path led me into software development, where I focus on building robust, efficient, and scalable solutions. I enjoy working across the stack, from backend architectures to frontend interfaces, always looking for ways to optimize and automate workflows.
</p>
<p>
    When I’m not coding, you’ll probably find me playing League of Legends, theorycrafting strategies, or following the competitive scene. 🎮
</p>
<p>
    Feel free to check out my projects or reach out—I'm always open to exchanging ideas! 🚀
</p>